@model eCommerce.Model.Basket

@{
    ViewBag.Title = "BasketSummary";
}

<h2>BasketSummary</h2>

<table class="table">
    <tr>
        <th>
            Product
        </th>
        <th>
           Quantity
        </th>
        <th>
            Line Total
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.BasketItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @String.Format("{0:c}", item.Product.Price * item.Quantity)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.BasketItemId })
            </td>
        </tr>
    }

</table>


<table class="table">
    <tr>
        <th>
            Code
        </th>
        <th>
            Description
        </th>
        <th>
            Value
        </th>
    </tr>

    @foreach (var item in Model.BasketVouchers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoucherDescription)
            </td>
            <td>
                @String.Format("{0:c}", item.Value)
            </td>
        </tr>
    }

</table>



    @using (Html.BeginForm("AddBasketVoucher", "Home"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>BasketVoucher</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="control-label col-md-2">Enter Voucher Code: </div>
                    <div class="col-md-10">
                        <input class="form-control" type="text" id="voucherCode" name="voucherCode" />
                    </div>
                </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add Voucher" class="btn btn-default" />
                </div>
            </div>
        </div>
    }


